@using Zakupowo.Models
@model Zakupowo.Models.Cart

<h2>Podsumowanie zamówienia</h2>

<h3>Twoje produkty:</h3>
<table class="table">
    <thead>
    <tr>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Cena netto</th>
        <th>VAT</th>
        <th>Cena brutto</th>
    </tr>
    </thead>
    <tbody>
    @{
        Cart cart = ViewBag.Cart;
    }
    @foreach (var item in cart.CartItems)
    {
        var vatRate = item.Product.VatRate?.Rate ?? 0;
        var netPrice = item.Product.Price;
        var vatAmount = netPrice * vatRate;
        var grossPrice = netPrice + vatAmount;

        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>@netPrice.ToString("C")</td>
            <td>@vatAmount.ToString("C")</td>
            <td>@((grossPrice * item.Quantity).ToString("C"))</td>
        </tr>
    }
    </tbody>
</table>

<h3>Podsumowanie:</h3>
<p><strong>Kwota netto:</strong> @ViewBag.NetPrice.ToString("C")</p>
<p><strong>Podatek VAT:</strong> @ViewBag.VatAmount.ToString("C") </p>
<p><strong>Koszt wysyłki:</strong> @ViewBag.ShippingCost.ToString("C")</p>
<p><strong>Łączna kwota brutto:</strong> @ViewBag.TotalPrice.ToString("C")</p>

<a href="@Url.Action("PlaceOrder", "Order")" class="btn btn-success">Potwierdź zamówienie</a>
<a href="@Url.Action("Cart", "Cart")" class="btn btn-secondary">Wróć do koszyka</a>