@using Zakupowo.Models
@model Zakupowo.Models.User

<h2>Panel użytkownika</h2>
<div class="user-details-container">
    <dl class="row">
        <dt class="col-sm-2">Login</dt>
        <dd class="col-sm-10">@Model.Username</dd>
        
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Imię</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Nazwisko</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Adres</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Newsletter</dt>
        <dd class="col-sm-10">@(Model.Newsletter ? "Tak" : "Nie")</dd>

        <dt class="col-sm-2">Upust</dt>
        <dd class="col-sm-10">@(Model.Discount ?? 0)</dd>
    </dl>

    <a href="@Url.Action("EditProfile", "User")" class="btn btn-primary mb-1">Edytuj dane</a>
    <a href="@Url.Action("ChangePassword", "User")"class="btn btn-secondary mb-1">Zmień hasło</a>
    <form action="@Url.Action("ChangeCurrency", "User")" method="post">
        @Html.AntiForgeryToken()
        <select name="currencyId" onchange="this.form.submit()">
            @foreach (var currency in (List<Currency>)ViewBag.Currencies)
            {
                <option value="@currency.CurrencyId" @(currency.CurrencyCode == ViewBag.CurrencyCode ? "selected" : "")>
                    @currency.CurrencyCode
                </option>
            }
        </select>
    </form>
</div>