@model IEnumerable<Zakupowo.Models.Product>

@{
    ViewBag.Title = "Produkty - Zakupowo";
    var discount = Session["UserDiscount"] != null ? (decimal)Session["UserDiscount"] : 0;
}

<h2 class="product-list-header">Lista produktów</h2>

@if (TempData["CartSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["CartSuccess"]
    </div>
}

<div class="product-list-container">
    @foreach (var product in Model)
    {
        if (!product.IsHidden && !product.Category.IsHidden)
        {
            <div class="product-item">
                <!-- Obrazek produktu -->
                @if (product.Image != null)
                {
                    <img src="@Url.Content(product.Image)" alt="@product.Name" class="product-image"/>
                }

                <h3 class="product-name">@product.Name</h3>
                <p class="product-description">@product.Description</p>
                <p class="product-price">
                    Cena netto: @((product.Price / (discount + 1)).ToString("C"))<br/>
                    VAT: @(product.VatRate.Rate.HasValue
                             ? (product.VatRate.Rate.Value > 0 ? (product.VatRate.Rate.Value * 100).ToString("F2") + "%" : "0%")
                             : "Zwolniony z VAT")<br/>
                    @if (product.VatRate.Rate.HasValue && product.VatRate.Rate.Value > 0)
                    {
                        <span>Cena brutto: @((product.Price * (1 + product.VatRate.Rate.Value) / (discount + 1)).ToString("C"))</span>
                        <br/>
                    }
                </p>

                <form action="@Url.Action("AddToCart", "Cart")" method="post" class="add-to-cart-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="productId" value="@product.ProductId"/>
                    <input type="number" name="quantity" value="1" min="1" class="quantity-input"/>
                    <button type="submit" class="btn add-to-cart-button">Dodaj do koszyka</button>
                </form>
            </div>
        }
    }
</div>