
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mes = TempData["mes"] as string;
    var mes2 = TempData["success"] as string;
}

@model IEnumerable<Zakupowo.Models.User>

<h2>Użytkownicy</h2>
<p>@Html.ActionLink("Dodaj nowego użytkownika", "Create",null, new {@class  = "btn btn-primary"})</p>
<table class="table">
    <thead>
    <tr>
        <th>Nazwa użytkownika</th>
        <th>Administrator</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.IsAdmin</td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = user.UserId },new {@class  = "btn btn-primary"}) |
                @Html.ActionLink("Edytuj", "Edit", new { id = user.UserId },new {@class  = "btn btn-primary"}) |
                @Html.ActionLink("Usuń", "Delete", new { id = user.UserId },new {@class  = "btn btn-primary"})
            </td>
        </tr>
    }
    </tbody>
</table>

@if(!string.IsNullOrEmpty(mes))
{
    <div class="alert alert-success">
        @mes
    </div>
}
@if (!string.IsNullOrEmpty(mes2))
{
    <div class="alert alert-success">
        @mes2
    </div>
}

